<div class="legend">
  <div class="legend-item">
    <h4>Máscara</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="assets/images/required-mask.png"
          alt="Informações sobre uso de máscara"
        />
        <p>Obrigatório</p>
      </div>
      <div class="legend-image">
        <img
          src="assets/images/recommended-mask.png"
          alt="Informações sobre uso de máscara"
        />
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h4>Toalha</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="assets/images/required-towel.png"
          alt="Informações sobre uso de toalhas"
        />
        <p>Obrigatório</p>
      </div>
      <div class="legend-image">
        <img
          src="assets/images/recommended-towel.png"
          alt="Informações sobre uso de toalhas"
        />
        <p>Recomendado</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Bededouro</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="assets/images/partial-fountain.png"
          alt="Informações sobre uso do bebedouro"
        />
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img
          src="assets/images/not_allowed-fountain.png"
          alt="Informações sobre uso de bebedouro"
        />
        <p>Proíbido</p>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h4>Vestiário</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="assets/images/allowed-lockerroom.png"
          alt="Informações sobre uso do bebedouro"
        />
        <p>Liberado</p>
      </div>
      <div class="legend-image">
        <img
          src="assets/images/partial-lockerroom.png"
          alt="Informações sobre uso de bebedouro"
        />
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img
          src="assets/images/closed-lockerroom.png"
          alt="Informações sobre uso de bebedouro"
        />
        <p>Fechado</p>
      </div>
    </div>
  </div>
</div>
